@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,700,600");

.screen textarea:focus,
.screen input:focus {
    outline: none;
}

.screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.screen div {
    -webkit-text-size-adjust: none;
}

.component-wrapper a {
    display: contents;
    pointer-events: auto;
    text-decoration: none;
}

.component-wrapper * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
    pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
    visibility: hidden !important;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.full-width-a {
    width: 100%;
}

.full-height-a {
    height: 100%;
}

.container-center-vertical {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    pointer-events: none;
}

.container-center-vertical>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.auto-animated div {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated input {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

.overlay-base {
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.overlay-base.animate-appear {
    align-items: center;
    animation: reveal 0.3s ease-in-out 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.overlay-base.animate-disappear {
    animation: reveal 0.3s ease-in-out 1 reverse forwards;
    display: block;
    opacity: 1;
    pointer-events: none;
}

.overlay-base.animate-disappear * {
    pointer-events: none;
}

@keyframes reveal {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate-nodelay {
    animation-delay: 0s;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-flex-center {
    align-self: flex-center;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input:focus {
    outline: none;
}

.listeners-active,
.listeners-active * {
    pointer-events: auto;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --boston-blue: #3395b2;
    --elephant: #133b47;
    --white: #ffffff;

    --font-size-l: 24px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xl: 32px;
    --font-size-xxl: 64px;

    --font-family-inter: "Inter", Helvetica;
}

.heading-1 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.64px;
}

.body-copy {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
}

.inter-medium-elephant-14px {
    color: var(--elephant);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
}

.inter-bold-elephant-32px {
    color: var(--elephant);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
}

.inter-semi-bold-elephant-24px {
    color: var(--elephant);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
}

.inter-bold-elephant-16px {
    color: var(--elephant);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

:root {}


/* screen - german-3 */

.german-3 {
    background-color: var(--white);
    height: 5600px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.german-3 .ellipse-1-cBLxex {
    border-radius: 165.5px;
    height: 331px;
    left: 555px;
    top: 1417px;
    width: 331px;
}

.german-3 .rectangle-10-cBLxex {
    border-color: var(--elephant);
    border-radius: 20px 20px 20px 0px;
    height: 120px;
    left: 1380px;
    top: 2310px;
    transform: rotate(180deg);
    width: 154px;
}

.german-3 .group-35-cBLxex {
    background-color: transparent;
    height: 5432px;
    left: -95px;
    position: absolute;
    top: 60px;
    width: 1626px;
}

.german-3 .cheerful-brunette-gr-VUL63L {
    background-color: transparent;
    height: 780px;
    left: 95px;
    object-fit: cover;
    position: absolute;
    top: 119px;
    width: 1440px;
}

.german-3 .contact-VUL63L {
    background-color: transparent;
    height: 453px;
    left: 0px;
    position: absolute;
    top: 4979px;
    width: 1535px;
}

.german-3 .rectangle-7-jqZ4xx {
    background-color: #dff1f6;
    border-radius: 80px 80px 0px 80px;
    height: 453px;
    left: 95px;
    position: absolute;
    top: 0px;
    width: 1440px;
}

.german-3 .line-1-jqZ4xx {
    background-color: transparent;
    height: 1px;
    left: 277px;
    object-fit: cover;
    position: absolute;
    top: 394px;
    width: 1075px;
}

.german-3 .group-32-jqZ4xx {
    background-color: transparent;
    height: 226px;
    left: 336px;
    position: absolute;
    top: 95px;
    width: 1022px;
}

.german-3 .contact-us-G2wJAz {
    color: var(--elephant);
    left: 0px;
}

.german-3 .logo-german-simulations-2-G2wJAz {
    background-color: transparent;
    height: 107px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 119px;
    width: 420px;
}

.german-3 .infogerman-simulationscom-G2wJAz {
    background-color: transparent;
    height: auto;
    left: 643px;
    letter-spacing: 0.00px;
    line-height: 28px;
    position: absolute;
    text-align: left;
    top: 163px;
    white-space: nowrap;
    width: 373px;
}

.german-3 .flex-container-1666-G2wJAz {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 94px;
    left: 640px;
    position: absolute;
    top: 27px;
    width: 373px;
}

.german-3 .text0-1666-Ud1LRJ {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: relative;
    text-align: left;
}

.german-3 .span0-qr206N {}

.german-3 .text1-1666-Ud1LRJ {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: relative;
    text-align: left;
}

.german-3 .span1-x9xtZW {}

.german-3 .text2-1666-Ud1LRJ {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: relative;
    text-align: left;
}

.german-3 .span2-sMzVcm {}

.german-3 .text3-1666-Ud1LRJ {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: relative;
    text-align: left;
}

.german-3 .span3-hHz05Z {}

.german-3 .location-G2wJAz {
    background-color: transparent;
    height: 36px;
    left: 566px;
    object-fit: cover;
    position: absolute;
    top: 30px;
    width: 36px;
}

.german-3 .email-G2wJAz {
    background-color: transparent;
    height: 36px;
    left: 566px;
    object-fit: cover;
    position: absolute;
    top: 162px;
    width: 36px;
}

.german-3 .rectangle-11-jqZ4xx {
    background-color: transparent;
    border: 4px solid;
    border-color: var(--elephant);
    border-radius: 20px 20px 20px 0px;
    height: 120px;
    left: 0px;
    position: absolute;
    top: 275px;
    transform: rotate(180deg);
    width: 154px;
}

.german-3 .top-VUL63L {
    background-color: transparent;
    height: 61px;
    left: 156px;
    position: absolute;
    top: 0px;
    width: 1318px;
}

.german-3 .logo-Fe4Pw2 {
    background-color: transparent;
    height: 61px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 240px;
}

.german-3 .center-Fe4Pw2 {
    background-color: transparent;
    height: 29px;
    left: 426px;
    position: absolute;
    top: 15px;
    width: 475px;
}

.german-3 .home-73qDqj {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}

.german-3 .privacy-policy-73qDqj {
    background-color: transparent;
    color: #9f9f9f;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 122px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}

.german-3 .contact-us-73qDqj {
    color: #9f9f9f;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    left: 340px;
    letter-spacing: 0.00px;
}

.german-3 .login-Fe4Pw2 {
    background-color: transparent;
    height: 59px;
    left: 1035px;
    position: absolute;
    top: 0px;
    width: 285px;
}

.german-3 .log-in-TRzB4R {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 15px;
    width: auto;
}

.german-3 .group-5-TRzB4R {
    background-color: transparent;
    height: 59px;
    left: 105px;
    position: absolute;
    top: 0px;
    width: 180px;
}

.german-3 .rectangle-3-EVsJRO {
    background-color: var(--elephant);
    border-radius: 40px;
    height: 59px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 178px;
}

.german-3 .sign-up-EVsJRO {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 44px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 15px;
    width: auto;
}

.german-3 .licenses-VUL63L {
    height: 886px;
    left: 264px;
    top: 4010px;
    width: 1362px;
}

.german-3 .ellipse-1-KKzJqU {
    border-radius: 282.5px;
    height: 565px;
    left: 705px;
    top: 0px;
    width: 565px;
}

.german-3 .group-31-KKzJqU {
    background-color: transparent;
    height: 879px;
    left: 0px;
    position: absolute;
    top: 7px;
    width: 1114px;
}

.german-3 .group-17-DtM8lV {
    background-color: transparent;
    height: 128px;
    left: 0px;
    position: absolute;
    top: 130px;
    width: 1054px;
}

.german-3 .group-16-uWvJNp {
    background-color: transparent;
    height: 128px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 1054px;
}

.german-3 .museum-BQNwwV {
    background-color: transparent;
    height: 48px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 46px;
}

.german-3 .group-15-BQNwwV {
    background-color: transparent;
    height: 128px;
    left: 72px;
    position: absolute;
    top: 0px;
    width: 986px;
}

.german-3 .academic-licenses-fGebN8 {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 358px;
}

.german-3 .we-offer-several-dif-fGebN8 {
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 0px;
    line-height: 30px;
    position: absolute;
    text-align: left;
    top: 39px;
    width: 982px;
}

.german-3 .group-18-DtM8lV {
    background-color: transparent;
    height: 94px;
    left: 0px;
    position: absolute;
    top: 310px;
    width: 1054px;
}

.german-3 .graduated-E24kuO {
    background-color: transparent;
    height: 48px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 46px;
}

.german-3 .group-14-E24kuO {
    background-color: transparent;
    height: 94px;
    left: 72px;
    position: absolute;
    top: 0px;
    width: 986px;
}

.german-3 .student-based-license-ecBfkF {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 358px;
}

.german-3 .the-license-fee-is-c-ecBfkF {
    width: 982px;
}

.german-3 .group-19-DtM8lV {
    background-color: transparent;
    height: 128px;
    left: 0px;
    position: absolute;
    top: 458px;
    width: 1057px;
}

.german-3 .group-13-dF096D {
    background-color: transparent;
    height: 128px;
    left: 72px;
    position: absolute;
    top: 0px;
    width: 989px;
}

.german-3 .course-based-license-oK7gds {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 297px;
}

.german-3 .the-license-fee-is-c-oK7gds {
    width: 985px;
}

.german-3 .homework-dF096D {
    background-color: transparent;
    height: 48px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 46px;
}

.german-3 .group-20-DtM8lV {
    background-color: transparent;
    height: 128px;
    left: 0px;
    position: absolute;
    top: 635px;
    width: 1066px;
}

.german-3 .group-12-oGoguE {
    background-color: transparent;
    height: 128px;
    left: 72px;
    position: absolute;
    top: 0px;
    width: 998px;
}

.german-3 .annual-license-lPxzrt {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 278px;
}

.german-3 .the-license-fee-is-c-lPxzrt {
    width: 994px;
}

.german-3 .subscription-oGoguE {
    background-color: transparent;
    height: 48px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 46px;
}

.german-3 .group-21-DtM8lV {
    background-color: transparent;
    height: 62px;
    left: 0px;
    position: absolute;
    top: 817px;
    width: 1112px;
}

.german-3 .group-11-8hjfXH {
    background-color: transparent;
    height: 62px;
    left: 72px;
    position: absolute;
    top: 0px;
    width: 1044px;
}

.german-3 .corporate-licenses-LIbQQy {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 278px;
}

.german-3 .please-contact-us-if-LIbQQy {
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 0px;
    line-height: 30px;
    position: absolute;
    text-align: left;
    top: 39px;
    white-space: nowrap;
    width: 1040px;
}

.german-3 .skyline-8hjfXH {
    background-color: transparent;
    height: 48px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 46px;
}

.german-3 .licenses-DtM8lV {
    color: var(--elephant);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 67px;
    line-height: normal;
    text-align: left;
    top: 0px;
    width: 485px;
}

.german-3 .rectangle-10-KKzJqU {
    border-color: var(--elephant);
    border-radius: 20px 20px 20px 0px;
    height: 120px;
    left: 1208px;
    top: 492px;
    transform: rotate(180deg);
    width: 154px;
}

.german-3 .ibizsim-VUL63L {
    background-color: transparent;
    height: 659px;
    left: 275px;
    position: absolute;
    top: 2039px;
    width: 1082px;
}

.german-3 .i-biz-sim_-symbol_1920x803-1-JVMnbz {
    background-color: transparent;
    height: 179px;
    left: 326px;
    object-fit: cover;
    position: absolute;
    top: 61px;
    width: 429px;
}

.german-3 .line-2-JVMnbz {
    background-color: transparent;
    height: 1px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 1075px;
}

.german-3 .flex-container-1715-JVMnbz {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 366px;
    left: 4px;
    position: absolute;
    top: 293px;
    width: 1076px;
}

.german-3 .text0-1715-ju7Dyw {
    align-self: stretch;
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    text-align: left;
}

.german-3 .span0-M4yS7j {
    font-style: normal;
    font-weight: 500;
}

.german-3 .text1-1715-ju7Dyw {
    align-self: stretch;
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    text-align: left;
}

.german-3 .span1-3CceJv {
    font-style: normal;
    font-weight: 500;
}

.german-3 .text2-1715-ju7Dyw {
    align-self: stretch;
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    text-align: left;
}

.german-3 .span2-rCNJQh {
    font-style: normal;
    font-weight: 500;
}

.german-3 .text3-1715-ju7Dyw {
    align-self: stretch;
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    text-align: left;
}

.german-3 .span3-c3PraI {
    font-style: normal;
    font-weight: 500;
}

.german-3 .span4-c3PraI {
    font-style: normal;
    letter-spacing: 0.00px;
}

.german-3 .span5-c3PraI {
    font-style: normal;
    letter-spacing: 0.00px;
    text-decoration: underline;
}

.german-3 .text4-1715-ju7Dyw {
    align-self: stretch;
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    text-align: left;
}

.german-3 .span6-nzIxqv {
    font-style: normal;
    letter-spacing: 0.00px;
    text-decoration: underline;
}

.german-3 .text5-1715-ju7Dyw {
    align-self: stretch;
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    text-align: left;
}

.german-3 .span7-Nkx1wE {
    font-style: normal;
    letter-spacing: 0.00px;
    text-decoration: underline;
}

.german-3 .x4-points-VUL63L {
    background-color: transparent;
    height: 1020px;
    left: 18px;
    position: absolute;
    top: 959px;
    width: 1307px;
}

.german-3 .group-28-Q5fwfL {
    background-color: transparent;
    height: 480px;
    left: 287px;
    position: absolute;
    top: 0px;
    width: 484px;
}

.german-3 .rectangle-7-Gx1fVK {
    background-color: transparent;
    border: 4px solid;
    border-color: var(--boston-blue);
    border-radius: 80px 80px 0px 80px;
    height: 480px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 480px;
}

.german-3 .german-efficiency-me-Gx1fVK {
    background-color: transparent;
    height: auto;
    left: 55px;
    letter-spacing: 0.00px;
    line-height: 40px;
    position: absolute;
    text-align: left;
    top: 72px;
    width: 360px;
}

.german-3 .discover-german-simu-Gx1fVK {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    background-color: transparent;
    color: var(--elephant);
    display: -webkit-box;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 55px;
    line-height: 28px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    top: 240px;
    width: 360px;
}

.german-3 .group-27-Q5fwfL {
    background-color: transparent;
    height: 480px;
    left: 827px;
    position: absolute;
    top: 0px;
    width: 484px;
}

.german-3 .rectangle-8-xlSilE {
    background-color: transparent;
    border: 4px solid;
    border-color: var(--boston-blue);
    border-radius: 80px 80px 0px 80px;
    height: 480px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: rotate(90.00deg);
    width: 480px;
}

.german-3 .harnessing-german-business-acumen-xlSilE {
    background-color: transparent;
    height: auto;
    left: 48px;
    letter-spacing: 0.00px;
    line-height: 40px;
    position: absolute;
    text-align: left;
    top: 72px;
    width: 295px;
}

.german-3 .as-the-birthplace-of-xlSilE {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    background-color: transparent;
    color: var(--elephant);
    display: -webkit-box;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 48px;
    line-height: 28px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    top: 240px;
    width: 360px;
}

.german-3 .group-26-Q5fwfL {
    background-color: transparent;
    height: 480px;
    left: 827px;
    position: absolute;
    top: 540px;
    width: 484px;
}

.german-3 .i-biz-sim-unleashing-f28npe {
    background-color: transparent;
    height: auto;
    left: 48px;
    letter-spacing: 0.00px;
    line-height: 40px;
    position: absolute;
    text-align: left;
    top: 72px;
    width: 369px;
}

.german-3 .partnering-with-i-bi-f28npe {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    background-color: transparent;
    color: var(--elephant);
    display: -webkit-box;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 48px;
    line-height: 28px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    top: 240px;
    width: 383px;
}

.german-3 .rectangle-9-f28npe {
    border-color: var(--boston-blue);
    border-radius: 80px 80px 0px 80px;
    height: 480px;
    top: 0px;
    transform: rotate(-180.00deg);
    width: 480px;
}

.german-3 .group-25-Q5fwfL {
    background-color: transparent;
    height: 480px;
    left: 288px;
    position: absolute;
    top: 540px;
    width: 484px;
}

.german-3 .experiencing-business-in-virtual-reality-EncIax {
    background-color: transparent;
    height: auto;
    left: 55px;
    letter-spacing: 0.00px;
    line-height: 40px;
    position: absolute;
    text-align: left;
    top: 72px;
    width: 369px;
}

.german-3 .in-todays-dynamic-bu-EncIax {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    background-color: transparent;
    color: var(--elephant);
    display: -webkit-box;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 55px;
    line-height: 28px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    top: 200px;
    width: 394px;
}

.german-3 .rectangle-10-EncIax {
    border-color: var(--boston-blue);
    border-radius: 80px 80px 0px 80px;
    height: 480px;
    left: 0px;
    top: 0px;
    transform: rotate(-90.00deg);
    width: 480px;
}

.german-3 .rectangle-10-Q5fwfL {
    border-color: var(--elephant);
    border-radius: 20px 20px 20px 0px;
    height: 120px;
    left: 0px;
    top: 456px;
    transform: rotate(180deg);
    width: 154px;
}

.german-3 .rectangle-7-cBLxex {
    background: linear-gradient(180deg, rgb(1.5788098191842437, 19.383768774569035, 24.32958908379078) 0.3817800432443619%, rgba(28.140588887035847, 42.100323513150215, 45.97802683711052, 0) 100%);
    background-color: transparent;
    border-radius: 80px 80px 0px 80px;
    height: 420px;
    left: 0px;
    position: absolute;
    top: 539px;
    transform: rotate(-180.00deg);
    width: 1440px;
}

.german-3 .title-cBLxex {
    background-color: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 417px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 688px;
    width: 663px;
}

.german-3 .bridging-the-gap-bet-cBLxex {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 431px;
    letter-spacing: -0.48px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 808px;
    width: 634px;
}

.german-3 .group-36-cBLxex {
    background-color: transparent;
    height: 1142px;
    left: -80px;
    position: absolute;
    top: 2819px;
    width: 1520px;
}

.german-3 .next-steps-EMKh5E {
    height: 1142px;
    left: 0px;
    top: 0px;
    width: 1522px;
}

.german-3 .rectangle-7-tZMHzd {
    background-color: var(--boston-blue);
    border-radius: 80px 80px 80px 0px;
    height: 1142px;
    left: 80px;
    position: absolute;
    top: 0px;
    width: 1440px;
}

.german-3 .next-steps-tZMHzd {
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 318px;
    line-height: normal;
    text-align: left;
    top: 60px;
    width: 338px;
}

.german-3 .group-34-tZMHzd {
    background-color: transparent;
    height: 360px;
    left: 261px;
    position: absolute;
    top: 213px;
    width: 1076px;
}

.german-3 .rectangle-5-YZmkXI {
    background-color: #fcfeff;
    border-radius: 40px;
    box-shadow: 0px 8px 20px #00000033;
    height: 360px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1076px;
}

.german-3 .group-33-YZmkXI {
    background-color: transparent;
    height: 259px;
    left: 477px;
    position: absolute;
    top: 48px;
    width: 546px;
}

.german-3 .instructor-training-0x5Gfu {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: 293px;
}

.german-3 .a-4-day-train-the-in-0x5Gfu {
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 0px;
    line-height: 32px;
    position: absolute;
    text-align: left;
    top: 80px;
    width: 542px;
}

.german-3 .group-30-tZMHzd {
    background-color: transparent;
    height: 360px;
    left: 260px;
    position: absolute;
    top: 663px;
    width: 1081px;
}

.german-3 .rectangle-4-dWyMRa {
    background-color: #fcfeff;
    border-radius: 40px;
    box-shadow: 0px 8px 20px #00000033;
    height: 360px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1077px;
}

.german-3 .classroom-support-dWyMRa {
    background-color: transparent;
    height: auto;
    left: 63px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 64px;
    width: 304px;
}

.german-3 .we-offer-to-be-with-dWyMRa {
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 63px;
    line-height: 32px;
    position: absolute;
    text-align: left;
    top: 143px;
    width: 478px;
}

.german-3 .rectangle-9-tZMHzd {
    border-color: #f5f5f5;
    border-radius: 20px 20px 20px 0px;
    height: 120px;
    top: 543px;
    transform: rotate(180deg);
    width: 154px;
}

.german-3 .group-8-EMKh5E {
    background-color: transparent;
    height: 354px;
    left: 266px;
    position: absolute;
    top: 219px;
    width: 488px;
}

.german-3 .group-7-EMKh5E {
    background-color: transparent;
    height: 357px;
    left: 847px;
    position: absolute;
    top: 666px;
    width: 484px;
}

.german-3 .contact-us {
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    height: auto;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}

.german-3 .ellipse-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgb(223.00000190734863, 241.00000083446503, 246.0000005364418) 28.25189232826233%, rgba(255, 251.81250303983688, 251.81250303983688, 0) 100%);
    background-color: transparent;
    position: absolute;
}

.german-3 .licenses {
    background-color: transparent;
    position: absolute;
}

.german-3 .next-steps {
    background-color: transparent;
    position: absolute;
}

.german-3 .rectangle-10 {
    background-color: transparent;
    border: 4px solid;
    position: absolute;
}

.german-3 .rectangle-9 {
    background-color: transparent;
    border: 4px solid;
    left: 0px;
    position: absolute;
}

.german-3 .the-license-fee-is-c {
    background-color: transparent;
    color: var(--elephant);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 0px;
    line-height: 30px;
    position: absolute;
    text-align: left;
    top: 39px;
}